<!DOCTYPE html>

{% load static %}

<!--<!DOCTYPE html>-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="{% static 'MDB-Free_4.19.1/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'MDB-Free_4.19.1/css/style.css' %}">
</head>
<body>

{% if disgust_emotion_list %}
    <table class="table">
        <thead class="grey lighten-2">
        <tr><th scope="col">id</th><th scope="col">testo riconosciuto</th><th scope="col">emozione riconosciuta</th><th scope="col">immagine</th></tr>
        </thead>
        <tbody>
            {% for disgust in disgust_emotion_list %}
            <tr><td>{{ disgust.id}}</td>
                <td>{{ disgust.speech_text}}</td>
                <td>{{ disgust.emotion}}</td>
                <td><img src="data:image/png;base64,{{disgust.image}}"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>
</html>