<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'MDB-Free_4.19.1/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'MDB-Free_4.19.1/css/style.css' %}">
</head>
<body>
{% if happiness_emotion_list %}
    <table class="table">
        <thead class="grey lighten-2">
        <tr><th scope="col">id</th><th scope="col">testo riconosciuto</th><th scope="col">emozione riconosciuta</th><th scope="col">immagine</th></tr>
        </thead>
        <tbody>
            {% for happiness in happiness_emotion_list %}
            <tr><td>{{ happiness.id}}</td>
                <td>{{ happiness.speech_text}}</td>
                <td>{{ happiness.emotion}}</td>
                <td>{{ happiness.date}}</td>
                <td><img src="data:image/png;base64,{{happiness.image}}"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>
</html>