<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% if latest_question_list %}
    <table>
        <tr><th>id</th><th>domanda</th><th>data</th></tr>
    {% for question in latest_question_list %}
        <tr><td><a href="{% url 'polls:detail' question.id %}">{{ question.id}}</a></td>
            <td><a href="{% url 'polls:detail' question.id %}">{{ question.question_text}}</a></td>
            <td><a href="{% url 'polls:detail' question.id %}">{{ question.pub_date}}</a></td></tr>
    {% endfor %}
    </table>
{% else %}
    <p>No polls are available.</p>
{% endif %}

</body>
</html>