<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{% static 'bootstrap-4.0.0/favicon.ico' %}" rel="icon">

    <title>Album example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'bootstrap-4.0.0/dist/css/bootstrap.min.css' %} "  rel="stylesheet">

    <!-- Custom styles for this template -->

    <link href="{% static 'bootstrap-4.0.0/docs/4.0/examples/album/album.css' %} "  rel="stylesheet">
    <link href="{% static 'bootstrap-4.0.0/docs/4.0/examples/checkout/form-validation.css' %} "  rel="stylesheet">
  </head>

  <body>

    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">Facial Expression Recognition is an Image Classification problem located within the wider field of Computer Vision. Image Classification problems are ones in which images must be algorithmically assigned a label from a discrete set of categories.</p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="#" class="text-white">Follow on Twitter</a></li>
                <li><a href="#" class="text-white">Like on Facebook</a></li>
                <li><a href="#" class="text-white">Email me</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between" style="max-width: 95%">
          <a href="{% url 'polls:emotions' %}" class="navbar-brand d-flex align-items-center">
<!--            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>-->
            <img class="card-img-top" src="{% static 'images/database-16.png' %}" alt="Fear image cap" >
            <strong style="margin-left: 5px;">Database</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>



<!--These emotion classifications are illustrated in the image below-->

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">Datasets and target emotions</h1>
          <p class="lead text-muted">When computers look at an image, what they ‘see’ is
                                    simply a matrix of pixel values. In order to classify an image,
                                    the computer has to discover and classify numerical patterns within the image matrix.</p>
          <p>
            <form method="get" action="{% url 'polls:search' %}" class="needs-validation" novalidate>
                <div class="col-md-6 mb-3" style="display: inline;">
                    <input type="text" class="form-control" id="text_field" name="text_field" placeholder="Insert text to search..." value="" required>
                    <div class="invalid-feedback">
                      Valid text is required.
                    </div>
                </div>
                <div class="col-md-6 mb-3" style="display: inline;">
                    <input type="date" class="form-control" id="date_field" name="date_field" value="" required>
                    <div class="invalid-feedback">
                      Valid date is required.
                    </div>
                </div>
                <hr class="mb-4">
                <button class="btn btn-primary btn-lg btn-block" type="submit">Search</button>
            </form>
          </p>
        </div>
      </section>

      <div class="album py-5 bg-light">
        <div class="container" style="max-width: 95%">
          <div class="row">
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{% static 'images/anger.png' %}" alt="Anger image cap">
                <div class="card-body">
                  <p class="card-text">How much more grievous are the consequences of anger than the causes of it</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <form action="{% url 'polls:angers' %}" class="needs-validation" novalidate>
                        <button type="submit" class="btn btn-sm btn-outline-secondary">View</button>
                      </form>
                    </div>
                    <small class="text-muted">Anger</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{% static 'images/disgust.png' %}" alt="Disgust image cap">
                <div class="card-body">
                  <p class="card-text">That moment of pure disgust when you stick yourn hand under your desk and you touch someone else's old gum</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <form action="{% url 'polls:disgusts' %}" class="needs-validation" novalidate>
                        <button type="submit" class="btn btn-sm btn-outline-secondary">View</button>
                      </form>
                    </div>
                    <small class="text-muted">Disgust</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{% static 'images/fear.png' %}" alt="Fear image cap" style="size: ">
                <div class="card-body">
                  <p class="card-text">F.E.A.R: False Evidence Appearing Real</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <form action="{% url 'polls:fears' %}" class="needs-validation" novalidate>
                        <button type="submit" class="btn btn-sm btn-outline-secondary">View</button>
                      </form>
                    </div>
                    <small class="text-muted">Fear</small>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{% static 'images/happiness.png' %}" alt="Happiness image cap">
                <div class="card-body">
                  <p class="card-text">No medicine cures what happiness cannot</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <form action="{% url 'polls:happinesses' %}" class="needs-validation" novalidate>
                        <button type="submit" class="btn btn-sm btn-outline-secondary">View</button>
                      </form>
                    </div>
                    <small class="text-muted">Happiness</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{% static 'images/sadness.png' %}" alt="Sadness image cap">
                <div class="card-body">
                  <p class="card-text">Tears coem from the heart and not from the brain</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <form action="{% url 'polls:sadnesses' %}" class="needs-validation" novalidate>
                        <button type="submit" class="btn btn-sm btn-outline-secondary">View</button>
                      </form>
                    </div>
                    <small class="text-muted">Sadness</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <img class="card-img-top" src="{% static 'images/surprise.png' %}" alt="Surprise image cap">
                <div class="card-body">
                  <p class="card-text">The unexpected moment is always sweeter</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <form action="{% url 'polls:surprises' %}" class="needs-validation" novalidate>
                        <button type="submit" class="btn btn-sm btn-outline-secondary">View</button>
                      </form>
                    </div>
                    <small class="text-muted">Surprise</small>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </main>

    <footer class="text-muted">
      <div class="container">
        <p style="text-align: center">Machine learning systems can be trained to recognize emotional expressions from images of human faces, with a high degree of accuracy in many cases
            A standard set of seven emotion classifications are often used:</p>
        <p style="text-align: center">
          Anger, Disgust, Fear, Happiness, Sadness, Surprise, Neutral
        </p>
        <center>
          <p>
            <a href="#">Back to top</a>
          </p>
        </center>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="{% static 'bootstrap-4.0.0/assets/js/vendor/jquery-slim.min.js' %}"><\/script>')</script>
    <script src="{% static 'bootstrap-4.0.0/assets/js/vendor/popper.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.0.0/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'bootstrap-4.0.0/assets/js/vendor/holder.min.js' %}"></script>

    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function() {
        'use strict';

        window.addEventListener('load', function() {
          // Fetch all the forms we want to apply custom Bootstrap validation styles to
          var forms = document.getElementsByClassName('needs-validation');

          // Loop over them and prevent submission
          var validation = Array.prototype.filter.call(forms, function(form) {
            form.addEventListener('submit', function(event) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
              }
              form.classList.add('was-validated');
            }, false);
          });
        }, false);
      })();
    </script>
  </body>
</html>