<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'polls/style.css' %}">
</head>
<body>
{% if sadness_emotion_list %}
    <table>
        <thead>
        <tr><th>id</th><th>testo riconosciuto</th><th>emozione riconosciuta</th><th>immagine</th></tr>
        </thead>
        <tbody>
            {% for sadness in sadness_emotion_list %}
            <tr><td>{{ sadness.id}}</td>
                <td>{{ sadness.speech_text}}</td>
                <td>{{ sadness.emotion}}</td>
                <td><img src="data:image/png;base64,{{sadness.image}}"></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No polls are available.</p>
{% endif %}
</body>
</html>