<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
        }
        table {
          margin-left: auto;
          margin-right: auto;
        }
    </style>

</head>
<body>

<input type="submit" value="Cerca">

{% if speech_text_list %}
    <table>
        <tr><th>id</th><th>testo riconosciuto</th><th>emozione riconosciuta</th></tr>
    {% for table in speech_text_list %}
       <tr><td>{{ table.id}}</td>
            <td>{{ table.speech_text}}</td>
            <td>{{ table.emotion}}</td></tr>
    {% endfor %}
    </table>
{% else %}
    <p>No polls are available.</p>
{% endif %}

</body>
</html>